@import '~node_modules/modern-normalize/modern-normalize.css';

p,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.icon {
    fill: currentColor;

}

body {
    font-family: var(--font-top);
    font-size: 12px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    background-color: var(--bg-color-top);
    color: var(--text-color_light);


    @include desktop {
        font-size: 16px;
    }
}