.container {
    width: 100%;
    max-width: 480px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;

    z-index: -1;

    @include tablet {
        max-width: 768px;
        padding: 0 32px;
    }

    @include desktop {
        max-width: 1200px;
        padding: 0 16px;
    }
}

.section {
    width: 100%;
    background-color: var(--bg-color-top);
    margin-left: auto;
    margin-right: auto;
}