:root {
    --color-accent: #F8D24E;
    --color-hover: #0A8817;
    --bg-color-top: #84A278;
    --bg-color-ice-cream: #AEC6A5;
    --bg-color-ice-coffee: #EFD478;
    --bg-color-milkshakes: #D6936D;
    --bg-color-mobile-menu: #97AF8D;



}