:root {
    --color-accent: #F8D24E;
    --color-hover: #0A8817;
    --bg-color-top: #84A178;
    --bg-color-ice-cream: #AEC6A5;
    --bg-color-ice-coffee: #EFD478;
    --bg-color-milkshakes: #D6936D;
    --bg-color-mobile-menu: #97AF8D;
    --bg-color-modal: #FCFCFC;
    --bg-color-input: rgba(248, 210, 78, 0.1);
    --text-color_dark: #131313;
    --text-color_light: #FCFCFC;
    --text-color_address: #D6936D;
    --text-color_schedule: #907E82;
    --font-top: 'Montserrat', sans-serif;
    --font-title: 'Seymour One', sans-serif;


}