<section class="about">
    <div class="container about__container">
        <p class="section__lable">tradition and love</p>
        <h2 class="section__toptitle">how it`s made ?</h2>
        <div class="about__content-container">
            <div class="cow">
                <!-- <picture>
                    <source srcset="
        ./images/about/about-cow-desktop.png,
        ./images/about/about-cow-desktop@2x.png
        " media="(min-width:1200px)" />
                    <source srcset="
        ./images/about/about-cow-tablet.png,
        ./images/about/about-cow-tablet@2x.png
        " media="(min-width:768px)" />
                    <source srcset="
        ./images/about/about-cow-mobile.png,
        ./images/about/about-cow-mobile@2x.png
        " media="(max-width:767px)" />
                    <img class="about__img" src="./images/about/about-cow-desktop.png" alt="Cow" />
                </picture> -->
            </div>
            <div class="about__section">
                <!-- <div class="about__description"> -->
                <p class="about__text-first">
                    Ice is a place where you will become not only a little happier, but
                    also healthier. Health is the main value for us, and we follow it when
                    creating our handmade desserts.
                </p>
                <!-- </div> -->
                <!-- <div class="about__description"> -->
                <p class="about__text-second">
                    We use traditional recipes and 100% natural ingredients. Our products
                    are so natural that they can be given to children from the age of
                    three years. Sweets lovers can expect 55 types of ice cream, 15 types
                    of coffee and 23 milkshakes.
                </p>
                <!-- </div> -->
                <!-- <div class="about__text-third"> -->
                <p class="about__text">
                    This is enough to choose ice cream and coffee for any mood!
                </p>
                <!-- </div> -->
                <button class="button_accent button" type="button">Read more
                    <svg class="button__arrow">
                        <use href="./images/icons.svg#icon__btn"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>