<section class="contacts">
  <h2>contacts</h2>

  <ul>
    <li>
      <p class="class">CAFE</p>
      <p class="class">Chicago</p>
      <address>
        <a href="">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
      </address>

      <ul class="">
        <li>
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li>
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>

      <ul class="class">
        <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>

    <li>
      <p class="class">FOOD TRUCK</p>
      <p class="class">Los Angeles</p>
      <address>
        <a href="">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
      </address>

      <ul class="">
        <li>
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li>
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="class">
        <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>

    <li>
      <p class="class">CAFE</p>
      <p class="class">New York</p>

      <address>
        <a href="">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
      </address>

      <ul class="">
        <li>
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li>
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>

      <ul class="class">
        <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>
  </ul>
  <div class="">
    <button type="button">Our locations</button>
    <button type="button">Franchise</button>
  </div>
</section>
