<section class="contacts">
  <div class="container">
  <h2>contacts</h2>

  <ul class="contacts>
    <li class="contacts__item">
      <p class="contacts__name">CAFE</p>
      <p class="contacts__location">Chicago</p>
      <address>
        <a class="contacts__link" href="">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
      </address>

      <ul class="schedule">
        <li class="schedule__item">
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li class="schedule__item>
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>

      <ul class="contact-inform">
        <li class="contact-informa__item"><a class="contact-information_link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
        <li class="contact-inform__item"><a contact-information_link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>

    <li class="contacts__item">
      <p class="contacts__name">FOODTRUCK</p>
      <p class="contacts__location">Los Angeles</p>
      <address>
        <a class="contacts__link" href="">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
      </address>

      <ul class="schedule">
        <li class="schedule__item">
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li class="schedule__item">
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contact-inform">
        <li><a contact-informa__item href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
        <li><a contact-informa__item href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>

    <li class="contacts__item">
      <p class="contacts__name">CAFE</p>
      <p class="contacts__location">New York</p>

      <address>
        <a class="contacts__link" href="">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
      </address>

      <ul class="schedule">
        <li class="schedule__item">
          <p>Monday - Friday</p>
          <p>06:00 AM - 10:00 PM</p>
        </li>
        <li class="schedule__item">
          <p>Saturday - Sunday</p>
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>

      <ul class="contact-inform">
        <li><a contact-informa__item href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
        <li><a contact-informa__item href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </li>
  </ul>
  <div class="">
    <button type="button">Our locations</button>
    <button type="button">Franchise</button>
  </div>
</div>
</section>
