<footer class="page-footer" id="footer">
  <div class="container page-footer__container">
    <div class="page-footer__text-container">
      <p class="page-footer__title">homemade ice cream made</p>
      <p class="page-footer__text">with passion</p>
    </div>
    <div class="page-footer__contacts-container">
      <ul class="page-footer__social-network-list">
        <li class="page-footer__social-network-item">
          <a
            class="page-footer__social-netwok-link"
            href="https://github.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="page-footer__social-netwok-icon">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="page-footer__social-network-item">
          <a
            class="page-footer__social-netwok-link"
            href="https://web.telegram.org/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="page-footer__social-netwok-icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="page-footer__social-network-item">
          <a
            class="page-footer__social-netwok-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="page-footer__social-netwok-icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="page-footer__phone-text">
        Feel free to contact
        <a class="page-footer__phone-link" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  
    <p class="page-footer__copyright-container">
      <span class="page-footer__copyright-about">&#169; 2022 - IceCream.</span>
      <span class="page-footer__copyright">All Rights Reserved.</span>
    
  </div>
</footer>
