<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__slick autoplay">
      <div class="gallery__picture">
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/gallery1@1x-min.webp 1x,
              ./images/gallery/desktop/gallery1@2x-min.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/desktop/gallery1@1x-min.jpg 1x,
              ./images/gallery/desktop/gallery1@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/gallery1@1x-min.webp 1x,
              ./images/gallery/tablet/gallery1@2x-min.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/tablet/gallery1@1x-min.jpg 1x,
              ./images/gallery/tablet/gallery1@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/gallery1@1x-min.webp 1x,
              ./images/gallery/mobile/gallery1@2x-min.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/mobile/gallery1@1x-min.jpg 1x,
              ./images/gallery/mobile/gallery1@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/mobile/gallery1@1x-min.jpg"
            alt="ice-cream"
            class="gallery__img"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/gallery2@1x-min.webp,
              ./images/gallery/desktop/gallery2@2x-min.webp
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/desktop/gallery2@1x-min.jpg 1x,
              ./images/gallery/desktop/gallery2@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/gallery2@1x-min.webp 1x,
              ./images/gallery/tablet/gallery2@2x-min.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/tablet/gallery2@1x-min.jpg 1x,
              ./images/gallery/tablet/gallery2@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/gallery2@1x-min.webp 1x,
              ./images/gallery/mobile/gallery2@2x-min.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/mobile/gallery2@1x-min.jpg 1x,
              ./images/gallery/mobile/gallery2@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/mobile/gallery2@1x-min.jpg"
            alt="ice-cream"
            class="gallery__img"
          />
        </picture>
      </div>

      <div>
        <picture>
          <source
            srcset="
              ./images/gallery/desktop/gallery3@1x-min.webp 1x,
              ./images/gallery/desktop/gallery3@2x-min.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/desktop/gallery3@1x-min.jpg 1x,
              ./images/gallery/desktop/gallery3@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/gallery3@1x-min.webp 1x,
              ./images/gallery/tablet/gallery3@2x-min.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/tablet/gallery3@1x-min.jpg 1x,
              ./images/gallery/tablet/gallery3@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mobile/gallery3@1x-min.webp 1x,
              ./images/gallery/mobile/gallery3@2x-min.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery/mobile/gallery3@1x-min.jpg 1x,
              ./images/gallery/mobile/gallery3@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/mobile/gallery3@1x-min.jpg"
            alt="ice-cream"
            class="gallery__img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
