<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
      <source
        srcset="
          ./images/gallery/gallery01-desktop.webp    1x,
          ./images/gallery/gallery01-desktop@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/gallery01-desktop.jpg    1x,
          ./images/gallery/gallery01-desktop@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/gallery/gallery01-tablet.webp    1x,
          ./images/gallery/gallery01-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/gallery01-tablet.jpg    1x,
          ./images/gallery/gallery01-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/gallery/gallery01-mobile.webp    1x,
          ./images/gallery/gallery01-mobile@2x.webp 2x
        "
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/gallery/gallery01-mobile.jpg    1x,
          ./images/gallery/gallery01-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/gallery/gallery01-mobile.jpg"
        alt="ice-cream"
        class="gallery__img"
      />
    </picture>
  </div>
</section>
