<header class="page-header">
  <div class="container page-header__content">
    <a href="/" class="page-header__logo-link link">
      <img class="page-header__logo" src="./images/logo.png" alt="ice cream" />
    </a>
    <!-- Navigation -->
    <nav class="navigation">
      <ul class="navigation__list">
        <li>
          <a href="#" class="navigation__link link">Home</a>
        </li>
        <li>
          <a href="#about" class="navigation__link link">How it’s made?</a>
        </li>
        <li>
          <a href="#products" class="navigation__link link">Our products</a>
        </li>
        <li>
          <a href="#contacts" class="navigation__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__btn-group">
      <button type="button" class="header-menu">
        <svg class="header__btn-burger">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <button type="button" class="buy-now__button button button_accent">
        Buy now
        <svg class="button__arrow">
          <use href="./images/icons.svg#icon__btn"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
