<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <a href="/" class="page-header__logo link">
        <img src="./images/logo.png" alt="ice cream" />
      </a>
      <!-- Navigation -->
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="#" class="navigation_active link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="link">How it’s made?</a>
          </li>
          <li class="navigation__item">
            <a href="" class="link">Our products</a>
          </li>
          <li class="navigation__item">
            <a href="" class="link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header__btn-group">
        <button type="button" class="header-menu">
          <svg class="header__btn-burger">
            <use href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>

        <button type="button" class="button button_accent">
          Buy now
          <!-- TODO: use icon from sprite -->
          <!-- button buy now svg -->
          <svg class="">
            <use href="./images/icons.svg#icon__btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
