<section class="hero">
  <div class="container">
    <h1>ice cream made with passion</h1>
    <ul>
      <li>
        <a href="#products">Products</a>
      </li>
      <li>
        <a href="#how-made">How it’s made?</a>
      </li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <details>
      <summary>
        <svg>
          <use href="#"></use>
        </svg>
      </summary>
      <p>More info about the details.</p>
    </details>
    <ul>
      <li>
        <p class="">16</p>
        <p class="">cafes</p>
      </li>
      <li>
        <p class="">23</p>
        <p class="">food trucks</p>
      </li>
    </ul>
  </div>
</section>
