<!-- <section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="hero__list">
      <li class="hero__item">
        <a href="#products" class="hero__link link">Products</a>
      </li>
      <li class="hero__item">
        <a href="#how-made" class="hero__link link">How it’s made?</a>
      </li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <details>
      <summary>
        <svg width="40px" height="0">
          <use href="./images/icons.svg#icon__arrow-1"></use>
        </svg>
      </summary>
      <p>More info about the details.</p>
    </details>
    <ul>
      <li>
        <p class="">16</p>
        <p class="">cafes</p>
      </li>
      <li>
        <p class="">23</p>
        <p class="">food trucks</p>
      </li>
    </ul>
  </div>
</section> -->
