<div class="backdrop" data-modal-location>
  <!-- <div class="backdrop is-hidden" data-modal-location></div>   -->
  <div class="modal">
    <button type="button" class="modal__close" data-modal-close>
      <svg class="modal-close-icon" width="20" height="20">
        <use href="./images/icons.svg#icon__close-big"></use>
      </svg>
    </button>
    <p class="section__modal-title">How it’s made?</p>
    <video
      poster="https://images.pexels.com/photos/595804/pexels-photo-595804.jpeg?w=640"
      width="229"
      controls
    >
      <source
        src="http://techslides.com/demos/sample-videos/small.webm"
        type="video/webm"
      />
      <source
        src="http://techslides.com/demos/sample-videos/small.mp4"
        type="video/mp4"
      />
      <source
        src="http://techslides.com/demos/sample-videos/small.ogg"
        type="video/ogg"
      />
    </video>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
