<!-- <div class="backdrop is-hidden" data-modal> -->
<div class="backdrop" data-modal>
  <div class="modal modal-products">
    <button type="button" class="modal__close" data-modal-close>
      <svg class="modal__close-btn" width="20" height="20">
        <use href="./images/icons.svg#icon__close-big"></use>
      </svg>
    </button>
    <p class="modal-products__toptitle section__modal-title">
      Chololate icecream
    </p>
    <ul class="modal-products__toplist">
      <li class="modal-products__topitem">
        <p>320</p>
        <p>kcal</p>
      </li>
      <li class="modal-products__topitem">
        <p>4g</p>
        <p>Protein...</p>
      </li>
      <li class="modal-products__topitem">
        <p>320</p>
        <p>kcal</p>
      </li>
      <li class="modal-products__topitem">
        <p>320</p>
        <p>kcal</p>
      </li>
    </ul>
    <p class="modal-products__title">Ingredients</p>
    <ul class="modal-products__list">
      <li>
        <p>Milk</p>
        <p>100ml</p>
      </li>
      <li>
        <p>Belgian</p>
        <p>chocolate 20g</p>
      </li>
      <li>
        <p>Cream</p>
        <p>150 ml</p>
      </li>
      <li>
        <p>Cocoa powder</p>
        <p>30g</p>
      </li>
      <li>
        <p>Sugar</p>
        <p>40g</p>
      </li>
      <li>
        <p>Vanilla sugar</p>
        <p>10g</p>
      </li>
    </ul>
    <form class="modal-products__form">
      <label>
        <input
          type="text"
          class="modal-products__form-input"
          name="user-name"
          placeholder="Name"
        />
      </label>
      <label>
        <input
          type="tel"
          class="form-input"
          name="user-tel"
          placeholder="Phone"
        />
      </label>
      <label>
        <textarea
          name="user-сomment"
          class="modal-comment"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="button_accent button">Submit</button>
    </form>
  </div>
</div>
