<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close" data-modal-close>
      <!-- <svg class="modal-products__close-btn" width="20" height="20">
                    <use href="./images/"></use>
                </svg> -->
    </button>
    <p class="modal-products__toptitle">Chololate icecream</p>
    <ul class="modal-products__toplist">
      <li class="modal-products__topitem">
        <p>320</p>
        <p>kcal</p>
      </li>
      <li class="modal-products__topitem">
        <p>4g</p>
        <p>Protein...</p>
      </li>
      <li class="modal-products__topitem">
        <p>320</p>
        <p>kcal</p>
      </li>
      <li class="modal-products__topitem">
        <p>320</p>
        <p>kcal</p>
      </li>
    </ul>
    <p class="modal-products__title">Ingredients</p>
    <ul class="modal-products__list">
      <li>
        <p>Milk</p>
        <p>100ml</p>
      </li>
      <li>Belgian chocolate 20g</li>
      <li>Cream 150 ml</li>
      <li>Cocoa powder 30g</li>
      <li>Sugar 40g</li>
      <li>Vanilla sugar 10g</li>
    </ul>
    <form class="modal-products__form">
      <label>
        <input
          type="text"
          class="modal-products__form-input"
          name="user-name"
          placeholder="Name"
        />
      </label>
      <label>
        <input
          type="tel"
          class="form-input"
          name="user-tel"
          placeholder="Phone"
        />
      </label>
      <label>
        <textarea
          name="user-сomment"
          class="modal-comment"
          placeholder="Comment"></textarea>
      </label>
      <button type="submit" class="button_accent button">Submit</button>
    </form>
  </div>
</div>
