<div class="backdrop is-hidden" location-modal>
  <div class="modal modal-location">
    <button type="button" class="modal__close" location-modal-close>
      <svg class="modal-close-icon" width="20" height="20">
        <use href="./images/icons.svg#icon__close-big"></use>
      </svg>
    </button>
    <p class="modal-location__title section__modal-title">Our Locations</p>
    <picture class="picture-location">
      <source
        srcset="
          ./images/modal/map-desktop.webp    1x,
          ./images/modal/map-desktop@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/modal/map-desktop.jpg    1x,
          ./images/modal/map-desktop@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./images/modal/map-mobile.webp    1x,
          ./images/modal/map-mobile@2x.webp 2x
        "
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/modal/map-mobile.jpg    1x,
          ./images/modal/map-mobile@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img class="image" src="./images/modal/map-mobile.jpg" alt="map" />
    </picture>

    <form action="https://goo.gl/maps/oBUhqxkDfbNSAMwU6">
      <button class="button button_accent modal-location__btn" type="Open map">
        Open map
      </button>
    </form>
  </div>
</div>
