<!-- <div class="backdrop" data-modal-location> -->
<div class="backdrop is-hidden" about-modal>
  <div class="modal about__modal">
    <button type="button" class="modal__close" about-modal-close>
      <svg class="modal-close-icon" width="20" height="20">
        <use href="./images/icons.svg#icon__close-big"></use>
      </svg>
    </button>
    <p class="section__modal-title about__modal-title">How it’s made?</p>
    <div class="about__video">
      <iframe
        class="about__iframe"
        src="https://www.youtube.com/embed/b5p8TgFdx7c"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <p class="about__modal-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
