<div class="backdrop is-hidden" data-modal-franchise>
  <div class="modal modal-franchise">
      <button type="button" class="modal__close" data-modal-close>
          <svg class="modal-close-icon" width="20" height="20">
            <use href="./images/icons.svg#icon__close-big"></use>
          </svg>
      </button>
     
        <p class="section__modal-title section__modal-title-franchise">Thank you for your interest in owning an Ice Cream shop</p>
        <p class="section__modal-list-title">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
      
      
      <form class="modal-form">
          <label class="modal-form__label">
              <input class="modal-form__input" type="text" class="" required pattern="[a-zA-Za-яА-ЯіІїЇ']+" name="user_name"
              
                  placeholder="Name"
              />
          </label>
          <label class="modal-form__label">
              <input class="modal-form__input" type="tel" class="" required pattern="[0-9]{10}"
                  title="xxxxxxxxxx" 
                  name="user_phone"
                  class="modal-form__input-info"
                  placeholder="Phone"
               />
          </label>
          <label class="modal-form__label">
             <input class="modal-form__input" type="mailto" class="" required name="user_maill" class="placeholder" placeholder="Email"/>
          </label>
          <label class="modal-form__label-message">
              <textarea class="modal-form__message" name="user_message" class="placeholder" placeholder="Comment" ></textarea>
          </label>
         
          
      </form> 

      <button class="button button_accent button-submit" type="submit">Submit</button>
       
  

  </div>

</div>


<!-- <script src="./js/modal-franshise.js"></script> -->
