
<div class="backdrop is-hidden" data-modal-location>
   <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
        <svg class="modal-close-icon" width="20" height="20">
          <use href="./images/icons.svg#icon__close"></use>
        </svg>
      </button>
      <p class="modal-location">Our Locations</p>
      <!-- <img src="" alt="Map"> -->

      <form action="https://goo.gl/maps/oBUhqxkDfbNSAMwU6">
          <button type="submit">Open map</button>
      </form>
    </div>

