<section class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title" id="products">products</h2>
        <ul class="product-cards">
            <li class="product-cards__item">
                <div></div>
                <h3 class="product-cards__subtitle">ice cream</h3>
                <p class="product-cards__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
                <button type="button" class="product-cards__button">
                    <svg width="40" height="0">
                        <use></use>
                        <use></use>
                        <use></use>
                    </svg>
                </button>
            </li>
            <li class="product-cards__item">
                <div></div>
                <h3 class="product-cards__subtitle">ice coffee</h3>
                <p class="product-cards__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
                </p>
                <button type="button" class="product-cards__button">
                    <svg width="40" height="0">
                        <use></use>
                        <use></use>
                        <use></use>
                    </svg>
                </button>
            </li>
            <li class="product-cards__item">
                <div></div>
                <h3 class="product-cards__subtitle">milkshakes</h3>
                <p class="product-cards__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
                </p>
                <button type="button" class="product-cards__button">
                    <svg width="40" height="0">
                        <use></use>
                        <use></use>
                        <use></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>