<section class="products products--photo">
    <div class="container container--view">
        <p class="section__lable">100% natural</p>
        <h2 class="section__toptitle" id="products">products</h2>
        <ul class="product-cards">
            <li class="product-cards__item product-cards__item--color-icecream">
                <h3 class="section__title">ice cream</h3>
                <p class="product-cards__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                    natural stabilizer
                </p>
                <button type="button" class="product-cards__button " produkts-modal-open>
                    <svg class="product-cards__icon product-cards__icon--change">
                        <use href="./images/icons.svg#icon__arrow-1"></use>
                    </svg>
                </button>
            </li>
            <li class="product-cards__item product-cards__item--color-icecoffee">
                <h3 class="section__title">ice coffee</h3>
                <p class="product-cards__text">Fragrant invigorating drink created from 100% natural ingredients without
                    the use of preservatives and flavor enhancers
                </p>
                <button type="button" class="product-cards__button">
                    <svg class="product-cards__icon product-cards__icon--change">
                        <use href="./images/icons.svg#icon__arrow-1"></use>
                    </svg>
                </button>
            </li>
            <li class="product-cards__item product-cards__item--color-milkshakes">
                <h3 class="section__title">milkshakes</h3>
                <p class="product-cards__text">Sweet drinks based on milk and ice cream, supplemented with syrups,
                    fruits, berries and other sweets of your choice
                </p>
                <button type="button" class="product-cards__button">
                    <svg class="product-cards__icon product-cards__icon--change">
                        <use href="./images/icons.svg#icon__arrow-1"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>
