.modal {
    position: absolute;
    width: 98%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    max-width: 280px;
    padding: 28px;
    background-color: var(--bg-color-modal);
    color: var(--text-color_dark);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid var(--color-accent);
    border-radius: 10px;

    @include mobile {
        max-width: 280px;
    }

    @include tablet {
        max-width: 568px;

    }

}

// .backdrop.is-hidden .modal {
//     border-radius: 50%;
//     background-color: var(--color-accent);
//     transform: translate(100%, 100%) scale(2) rotate(720deg);
// }

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: none;
    background-color: inherit;
    color: var(--text-color_dark);
    // transition: color var(--animetion-time-func);

    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &:hover,
    &:focus {
        color: var(--color-accent);
    }
}

// .modal__close-btn {
//    display: flex;
//     align-items: center;
//     justify-content: center;
// }












.section__modal-list-title {
margin-top: 20px;
}


.modal-form {
    display: flex;
    flex-direction: column;
}


.modal-form__message {
 box-sizing: border-box;
 padding-left: 12px;
 padding-top: 8px;

width: 224px;
height: 64px;
left: 28px;
top: 516px;

background: rgba(248, 210, 78, 0.1);
border: 1px solid #84A178;
border-radius: 10px;
margin-bottom: 24px;
}

.section__modal-list-title {
padding-bottom: 24px;
  
width: 222px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: #131313;
}

.modal-form__input {
    box-sizing: border-box;

    width: 224px;
    height: 32px;
    left: 28px;
    top: 384px;
    
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;   
    padding-left: 12px;
}

.modal-form__label {
padding-bottom: 12px;
}

.modal-location__title {


font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;

display: flex;
align-items: center;
text-align: center;
justify-content: center;

color: #131313;
margin-bottom: 20px;
}



.section__modal-title-franchise {
width: 221px;
align-items: center;
text-align: center;
color: #131313;
}

.modal-form__input-info {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;

color: #131313;
}
