.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  width: 100%;
  align-items: center;
  padding-top: 74px;
    color: var(--text-color_dark);
    font-weight: 500;

  @include tablet {
    flex-direction: row;
    gap: 32px;}

    @include desktop {
        flex-direction: row;
        gap: 32px;
        height: 528px;

    }
 
}

.contacts__item {
  width: 100%;
  max-width: 280px;
  border: solid 1px #fcfcfc;
  border-radius: 24px;
  background-color: var(--bg-color-modal);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  padding: 40px 32px;

  @include tablet {
    max-width: calc((100% - 64px) / 3);
  }
}

.contacts__name {
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-left: 20px;
  padding-right: 20px;
  // padding: 0 20px;
  width: fit-content;

  
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
//   color: var(--text-color_dark);
  background-color: #f8d24e;
  margin-bottom: 20px;
}

.contacts__location {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
//   color: var(--text-color_dark);
  margin-bottom: 8px;
}

.contacts__link {
    display: block;
  max-width: 190px;
  color: var(--text-color_address);
  line-height: 1.83;
 padding-bottom: 24px;
}

.schedule {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
padding: 24px 0px;
}
// .schedule__item {
//   color: var(--text-color_dark);
// }
.schedule__time {
    color: #ABABAB;
}

.contacts-inform {
// color: var(--text-color_dark);
padding-top: 32px;
line-height: 1.83;

}

.contacts-inform__item {
    line-height: 1.5;
}
.contacts__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 32px;
font-weight: 600;
    font-size: 14px;
    line-height: 1.29;

    @include tablet {
flex-direction: row;
align-items: center;
justify-content: center;
    }
  
}

.button_border {
background-color: var(--bg-color-top);
}
.contacts__btn {
   padding-left: 46px;
   padding-right: 46px;
} 