.contacts_item {
  width: 100%;
//   border: solid 1px #fcfcfc;
  border-radius: 24px;
  background-color: var(--bg-color-modal);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  padding: 40px 32px;
}

.contacts__name {
  //   display: flex;
//   align-items: center;
display: block;
  text-align: center;
//   border: 1px solid #e1e1e1;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 80px;
//   height: 16px;
//   font-family: Montserrat;
//   font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
//   letter-spacing: 0.04em;
  color: #131313;
  background-color: #f8d24e;
  margin-bottom: 20px;
}

.contacts__location {
//   font-family: Montserrat;
//   font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
//   letter-spacing: 0.04em;
  color: #131313;
  margin-bottom: 8px;
}

.contacts__link {
//   width: 190px;
//   height: 36px;
  color: #d6936d;
  line-height: 1.83;
  margin-bottom: 24px;
}

.schedule {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
//   width: 216px;
//   height: 0px;
}
