.page-footer .container {
  background-color: var(--bg-color-top);
}

.page-footer__text-container {
  width: 234px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer__title {
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 16px;
  letter-spacing: 0.01em;
}

.page-footer__text {
  font-size: 34px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  margin-bottom: 42px;
}

.page-footer__social-network-list {
  display: flex;
  justify-content: flex-end;
  gap: 27px;
  margin-bottom: 38px;
}

.page-footer__social-network-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.page-footer__social-netwok-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-accent);
  width: 32px;
  height: 32px;

  fill: var(--bg-color-top);
}

.page-footer__social-netwok-link:hover {
  fill: #ffffff;
  transform: scale(0.94);
}

.page-footer__social-netwok-link:focus {
  fill: #ffffff;
  transform: scale(1.03);
}

.page-footer__social-netwok-icon {
  fill: inherit;
  width: 32px;
  height: 32px;
}

.page-footer__phone-text {
  text-align: end;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: var(--text-color_dark);
}

.page-footer__phone-link {
  text-decoration: none;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--bg-color-modal);
}

.page-footer__copyright-container {
  background-color: var(--bg-color-top);

  padding: 16px 20px 62px;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #7a7a7a;

  border-top: 1px solid #e1e1e1;
}

.page-footer__container {

  padding-bottom: 40px;
}

.page-footer__copyright-about {
  display: block;
}

@include tablet {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 32px;
  }

  .page-footer__text-container {
    width: 352px;
  }

  .page-footer__title {
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    margin-bottom: 9px;
  }

  .page-footer__text {
    font-size: 48px;
    line-height: 1.23;
    letter-spacing: 0.06em;
    margin-bottom: 0;
  }

  .page-footer__contacts-container {
    padding-top: 68px;
  }

  .page-footer__social-network-list {
    gap: 30px;
    margin-bottom: 32px;
  }

  .page-footer__social-netwok-link {
    width: 34px;
    height: 34px;
  }

  .page-footer__social-network-item {
    width: 34px;
    height: 34px;
  }

  .page-footer__phone-text {
    font-size: 14px;
  }

  .page-footer__copyright-container {
    padding-top: 14px;
    padding-bottom: 13px;
    line-height: 1.86;
    letter-spacing: 0.02em;

  }

  .page-footer__copyright-about {
    display: inline;
  }
}

@include desktop {
  .page-footer__text-container {
    width: 504px;
  }

  .page-footer__title {
    margin-bottom: 14px;
  }

  .page-footer__contacts-container {
    padding-top: 12px;
  }

  .page-footer__social-network-list {
    margin-bottom: 40px;
  }

  .page-footer__phone-text {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .page-footer__copyright-container {
    font-size: 12px;
    background-color: var(--bg-color-top);
    // width: 1168px;
    width: 1200px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: auto;
    margin-right: auto;
  }
}