.hero__section {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 480px;
    background-color: var(--bg-color-top);

    @include tablet {
        max-width: 768px;
    }

    @include desktop {
        max-width: 1200px;
    }
}

.hero {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color-top);
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    background-image: url(../images/hero/hero1-mobile.png),
        url(../images/hero/hero2-mobile.png);

    background-position: bottom -53px right 12px, bottom 0px center;

}

.hero__container {
    @media screen and (max-width: 767px) {
        min-height: 502px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: url(../images/hero/hero1-mobile@2x.png), url(../images/hero/hero2-mobile@2x.png);
        background-size: 75%, 320px;
        background-position: bottom -35px right 37px, bottom 0px right 0px,
            bottom 0px right 0px;
    }

    // .success {
    //  display: none;
    //  }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: url(../images/hero/hero1-tablet.png), url(../images/hero/hero3-tablet.png), url(../images/hero/hero2-tablet.png);
        max-width: 768px;
        // background-size: 270px, 768px, 152px, ;
        background-position: right 5px bottom -56px, left 30px bottom 10px,
            right 0px bottom 0px;
        height: 415px;
        // right 5px bottom -56px,
        //     left 30px bottom 10px,
        //     right 0 bottom 0
    }

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: url(../images/hero/hero1-tablet@2x.png), url(../images/hero/hero3-tablet@2x.png), url(../images/hero/hero2-tablet@2x.png);
        background-size: 50%, 152px, 768px;
        background-position: right 20px bottom -58px,
            left 15px bottom 5,
            right 0 bottom 0;

    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: url(../images/hero/hero1-desctop.png), url(../images/hero/hero3-desctop.png), url(../images/hero/hero2-desctop.png);
        max-width: 1200px;
        // background-size: 484px, 1200px, 225px;
        background-position: right 20px bottom -100px,
            left 10px bottom 60px,
            right 0 bottom 0;
        height: 664px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: url(../images/hero/hero1-desctop@2x.png), url(../images/hero/hero2-desctop@2x.png), url(../images/hero/hero3-desctop@2x.png);
        background-size: 484px, 1200px, 225px;
        background-position: bottom -35px right 37px, bottom 0px right 0px;
    }
}

.hero__title {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    // color: var(--bg-color-modal);
    // padding-top: 104px;
    margin-bottom: 20px;
    width: 247px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        width: 181px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 28px;
        font-size: 38px;
        width: 367px;
    }
}

.hero__part {
    font-size: 34px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 38px;
    }
}

.hero__list {
    display: flex;
}

.hero__link {
    font-family: var(--font-top);
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: var(--color-accent);
    margin-right: 8px;

    &:hover {
        color: var(--color-hover);
    }

    &:focus {
        line-height: 1.25;
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--text-color_light);
        border: 2px solid var(--color-hover);
        border-radius: 8px;
        width: 64px;
        height: 24px;
    }
}



.hero__text {
    display: none;

    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.4;
        width: 200px;
        margin-left: 217px;
        display: block;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        margin-left: 256px;
    }

}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.hero__details {
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 22px;
    }
}

.success {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.success__quality {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    letter-spacing: 0.04em;
    color: var(--text-color_dark);
}

@media screen and (min-width: 1200px) {
    .success__quality {
        font-size: 46px;
        line-height: 56px;
    }
}

.success__description {
    font-size: 8px;
    text-align: right;
    color: var(--bg-color-modal);
}

@media screen and (min-width: 1200px) {
    .success__description {
        font-size: 14px;
    }
}

.hero__wrapper {
    display: flex;
    padding-top: 110px;
    justify-content: space-between;
    margin-bottom: 56px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 111px;
    }

}

.hero__icon {
    fill: var(--bg-color-modal);
}