.modal-products {
  padding: 28px 20px 32px 20px;
  max-height: 1000px;
  height: 100%;



  overflow-y: auto;

  @include tablet {
    padding: 32px 40px 32px 40px;
  }
}

.modal-products__toptitle {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.modal-products__title {
  margin-top: 39px;
  margin-bottom: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    margin-top: 48px;
  }
}

.modal-products__toptitle::after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 130px;
  height: 140px;
  margin-top: 22px;
  background-image: url(/src/images/modal/modal-products.png),
    linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  border-radius: 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  @include tablet {
    margin-top: 24px;
  }
}

.modal-products__toplist {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 9px;
  text-align: center;

  @include tablet {
    gap: 20px;
  }
}

.modal-products__topitem {
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  width: 53px;
  height: 72px;

  @include tablet {
    width: 65px;
    height: 90px;
  }
}

.modal-products__toptext {
  margin-bottom: 16px;
  width: 43px;
  height: 43px;
  margin: 0 auto;
  font-family: var(--font-top);
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131313;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  @include tablet {
    width: 53px;
    height: 53px;
    font-size: 12px;
    line-height: 2.3;
  }
}

.modal-products__buttext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  height: 12px;
  font-family: var(--font-top);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: #131313;

  @include tablet {
    font-size: 12px;
    line-height: 1.25;
  }
}

.modal-products__list {
  gap: 11px;
  margin-bottom: 48px;
}

.modal-products__itemingr {
  display: flex;
  justify-content: center;
  text-align: center;
}

.modal-products__pointingr {
  // margin-right: auto;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #131313;
}

.left {
  margin-right: auto;
}

.modal-products__form-input {
  width: 100%;
  height: 42px;
  margin-bottom: 16px;
  padding-left: 11px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
}

.modal-products__form-input:not(:placeholder-shown):required:valid {
  border: solid 5px #4CAF50;
}

.modal-products__form-input:not(:placeholder-shown):required:invalid {
  border: solid 5px #F44336;
}

// .modal-products__form-input:valid {
//   border-color: burlywood;
// }

// .modal-products__form-input:invalid {
//   border-color: red;
// }



.modal-products__form {
  @include tablet {
    width: 368px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-comment {
  height: 84px;
  margin-bottom: 32px;
  padding-left: 11px;
  padding-top: 11px;
}

.position {
  display: block;
  margin: 0 auto;
}