.modal__close-btn {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 8;
    right: 8;
    border: none;
    background-color: transparent;
    line-height: 0;
}

.modal-form__title {
    text-align: center;
    margin-bottom: 83px;
}

.check-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 85px;
    margin-bottom: 24px;
    padding: 0;
    border: none;
}

.hero-modal-form__label {
    font-size: 16px;
    padding: 95px 10px 20px 10px;
}

.hero-modal-form__check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 132px;
    height: 136px;
    border: solid 2px #84A178;
    border-radius: 16px;
    position: relative;
    // padding-bottom: 20px;

    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.22;
    letter-spacing: 0.04em;

    &.ice-coffee {
        border: solid 2px #EFD478;
    }

    &.milkshake {
        border: solid 2px #D6936D;
    }
}


.hero-modal-form {


    }

    &__check.ice-cream::before {
        // background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
        background-image: url(../images/modal/modal-hero1.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -10px, 0;

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/modal/modal-hero1@2x.png),
                    linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
            }
            
    }

    &__check.ice-coffee::before {
        // background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
        background-image: url(../images/modal/modal-hero2.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -10px, 0;

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/modal/modal-hero2@2x.png),
                    linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
            }
    }

    &__check.milkshake::before {
        // background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
        background-image: url(../images/modal/modal-hero3.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -10px, 0;

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/modal/modal-hero3@2x.png),
                    linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
            }
    }
}

.hero-modal-form__input:hover+.hero-modal-form__check,
.hero-modal-form__input:focus+.hero-modal-form__check {


    &.ice-cream {
        box-shadow: 0 0 0 3px #84A178;
    }

    &.ice-coffee {
        box-shadow: 0 0 0 3px #EFD478;
    }

    &.milkshake {
        box-shadow: 0 0 0 3px #D6936D;
    }
}



.hero-modal-form__input:checked+.hero-modal-form__check {

    &.ice-cream {
        background-color: #84A178;
    }

    &.ice-coffee {
        background-color: #EFD478;
    }

    &.milkshake {
        background-color: #D6936D;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;

    &__border {
        border: solid 1px #84A178;
        border-radius: 10px;
        background-color: rgba(248, 210, 78, 0.1);
        padding: 8px 12px;

        font-family: var(--font-top);
        font-size: 12px;
        letter-spacing: 1.4;
        color: var(--text-color_dark);
    }
}

.hero-modal-label {

    

    &__input {
        font-size: 12px;
        color: #131313;
        line-height: 1.4;
        width: 100%;
        height: 32px;
        outline: none;

        &::placeholder {
            font-size: 12px;
            color: #131313;
            line-height: 1.4;
        }
    }

    &__input:hover,
    &__input:focus {
        border: solid 5px #EFD478;
    }

    &__input:not(:placeholder-shown):required:valid {
        border-color: #4CAF50;
    }
    
    &__input:not(:placeholder-shown):required:invalid {
        border-color: #F44336;
    }

   
}

.hero-modal-message {

    &__form {
        font-size: 12px;
        color: #131313;
        line-height: 1.4;
        resize: none;
        width: 100%;
        height: 65px;
        outline: none;

        &::placeholder {
                font-size: 12px;
                color: #131313;
                line-height: 1.4;
            }
    }

    &__form:hover,
    &__form:focus {
        border: solid 5px #EFD478;
    }
}

.modal-form__submit-btn {
    margin: 0 auto;
    background-color: var(--color-accent);
    border: none;

    &:hover {
        background-color: var(--color-hover);
    }

    &:focus {
        background-color: var(--color-hover);
        color: var(--text-color_light);
        fill: var(--text-color_light);
    }


}

@media screen and (min-width: 768px) {
    
.modal-form__title {
    display: block;
    text-align: center;
    margin-bottom: 100px;
    }
       
.check-group {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        
        gap: 32px;
        margin-bottom: 40px;
        
    }

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
    }  
    
.hero-modal-label {
    &__input {
        font-size: 14px;
        width: 368px;
        height: 42px;
        }
            &::placeholder {
                    font-size: 14px;
                }
    }

.hero-modal-message {

    &__form {
        font-size: 14px;
        width: 368px;
        height: 84px;
        }
            &::placeholder {
                    font-size: 14px;
                }
    }
}