
.section__modal-list-title {
    margin-top: 20px;
    }
    
    
    .modal-form {
        display: flex;
        flex-direction: column;
    }
    
    
    .modal-form__message {
     box-sizing: border-box;
     padding-left: 12px;
     padding-top: 8px;
    
    width: 224px;
    height: 64px;
    left: 28px;
    top: 516px;
    
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
   
    }
    
    .section__modal-list-title {
    padding-bottom: 24px;
      
    width: 222px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
    }
    
    .modal-form__input {
        box-sizing: border-box;
    
        width: 224px;
        height: 32px;
        left: 28px;
        top: 384px;
        
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid #84A178;
        border-radius: 10px;   
        padding-left: 12px;
    }
    
    .modal-form__label {
    padding-bottom: 12px;
    }
    
    .modal-location__title {
    
    
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    color: #131313;
    margin-bottom: 20px;

    // @include dekstop {
    //     font-size: 20px;
    //     line-height: 1.4;
    // }
    }
    
    
    
    .section__modal-title-franchise {
    width: 221px;
    align-items: center;
    text-align: center;
    color: #131313;
    }
    
    .modal-form__input-info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    
    color: #131313;
    }
    
    .modal-location__btn,
    .modal-franchise__btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
    }

    .modal-form__input::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #131313;
    }

    .modal-form__message::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #131313;
    } 

    .picture-location {
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

   