.bg-img {
    background-color: var(--bg-color-top);
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
        max-width: 768px;
    }

    @include desktop {
        max-width: 1200px;
    }
}

// bg-color-modal
@media screen and (min-width: 320px) {
    .bg-img {
        background-image: linear-gradient(var(--bg-color-top), var(--bg-color-top)),
            linear-gradient(var(--bg-color-modal), var(--bg-color-modal)),
            url(../images/gallery/icebackground-mobile.png),
            linear-gradient(var(--bg-color-top), var(--bg-color-top));
        background-position: top 0px center, top 25px center, top 131px center, top 1201px center;
        background-repeat: no-repeat;
        background-size: 100% 1%, 100% 5%, cover 43%, 100% 51%;
    }

    .reviews {
        padding-top: 80px;
    }

    .reviews__photo {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        margin: 0 auto 32px;

    }

    .reviews__item {
        width: 100%;
        margin-bottom: 0;

    }

    .reviews__text {
        height: 256px;
        padding: 34px 39px;
        margin-bottom: 30px;
        background-color: var(--bg-color-top);
        color: #FCFCFC;

        font-weight: 400;
        line-height: 2.55;
        text-align: center;
        border-radius: 10px;

    }

    .reviews__subject {
        width: 100%;
        margin: 0 auto;
        color: #131313;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.86;
        text-align: center;

    }

    .slick-dots {
        position: static;
        margin-top: 10px;
    }

    .slick-dots li {
        margin: 0;
        width: 12px;
        height: 12px;

        &:not(:last-child) {
            margin-right: 18px;
        }
    }

    .slick-dots li button {
        width: 12px;
        height: 12px;
        padding: 0;

        &:before {
            position: static;
            font-size: 12px;
        }
    }

    .slick-dots li.slick-active button:before {
        color: var(--bg-color-top);
        width: 12px;
        height: 12px;

    }
}

@include mobile {
    .reviews__subject {
        max-width: 100%;
    }
}

@include tablet {

    .bg-img {

        background-image: linear-gradient(var(--bg-color-top), var(--bg-color-top)),
            url(../images/gallery/icebackground-tablet.jpg),
            linear-gradient(var(--bg-color-top), var(--bg-color-top));
        background-position: top 0px center, top 164px center, top 1120px center;
        background-repeat: no-repeat;
        background-size: 768px 11%, 768px 64%, 768px 25%;

    }

    .reviews {
        padding-top: 60px;
    }

    .reviews__photo {
        margin-bottom: 28px;
    }

    .reviews__text {
        height: 138px;
        padding: 29px 80px 28px;
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.86;
        border-radius: 24px;
    }

    .reviews__subject {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .slick-dots {
        position: static;
        // margin-top: 28px;
        margin-top: 0px;

    }

}

@include desktop {
    .bg-img {
        background-image: linear-gradient(var(--bg-color-top), var(--bg-color-top)),
            url(../images/gallery/icebackground-desktop.jpg),
            linear-gradient(var(--bg-color-top), var(--bg-color-top));
        background-position: top 0px center, top 95px center, top 1105px center;
        background-repeat: no-repeat;
        background-size: 1200px 5%, 1200px 57%, 1200px 38%;

    }

    .reviews {
        padding-top: 80px;

        @include tablet {
            padding-top: 60px;
        }

        @include desktop {
            padding-top: 128px;
        }
    }

    .slick-js {
        padding-right: 96px;
        padding-left: 96px;

    }



    .slick-initialized {
        margin-bottom: 0;
    }

    .reviews__photo {
        margin-bottom: 32px;
    }

    .reviews__text {
        height: 138px;
        padding: 39px 109px 47px;
        font-size: 16px;
    }
}

// .bg-img {
//     background-image: linear-gradient(var(--bg-color-top), var(--bg-color-top)),
//      url(../images/gallery/icebackground-mobile.png),
//       linear-gradient(var(--bg-color-top), var(--bg-color-top));
//     background-position: top 0px center, top 50px center, top 1070px center;
//     background-repeat: no-repeat;
//     background-size: 1200px 50px, 1200px 1020px, 1200px 50px;
// }